[Desktop Entry]
Version=1.0
Name=StarChain Core
Comment=Connect to the StarChain P2P Network
Comment[de]=Verbinde mit dem StarChain peer-to-peer Netzwerk
Comment[fr]=StarChain, monnaie virtuelle cryptographique pair à pair
Comment[tr]=StarChain, eşten eşe kriptografik sanal para birimi
Exec=StarChain-qt %u
Terminal=false
Type=Application
Icon=StarChain128
MimeType=x-scheme-handler/StarChain;
Categories=Office;Finance;
StartupWMClass=StarChain-qt
