# It is not recommended to modify this file in-place, because it will
# be overwritten during package upgrades. If you want to add further
# options or overwrite existing ones then use
# $ systemctl edit StarChaind.service
# See "man systemd.service" for details.

# Note that almost all daemon options could be specified in
# /etc/StarChain/StarChain.conf

[Unit]
Description=StarChain daemon
After=network.target

[Service]
ExecStart=/usr/bin/StarChaind -daemon -conf=/etc/StarChain/StarChain.conf -pid=/run/StarChaind/StarChaind.pid
# Creates /run/StarChaind owned by StarChain
RuntimeDirectory=StarChaind
User=StarChain
Type=forking
PIDFile=/run/StarChaind/StarChaind.pid
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
